.component {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 60px;
  background: #E8E8E8;
  border-radius: 10px;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  
  text-align: center;
  letter-spacing: -0.04em;
  
  color: #000000;  
}

@media (max-width: 768px) {
  .component {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;    
  }
}

