.work {  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 608px;
  background: #fafafa;
}
.work__container {
  box-sizing: border-box;
  padding: 110px 50px 0;
  margin: 0 auto;
  max-width: 1240px;
  min-height: 608px;
}
.work__title {
  padding: 0;
  margin: 0;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;

  letter-spacing: -0.04em;

  color: #000000;
}
.work__line {
  display: block;
  padding: 0;
  margin: 23px 0 70px;
  background: #000000;
  height: 1px;
  width: 100%;
}
.work__stages {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 90px;

  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.work__components {
  padding: 0;
  margin: 0;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.work__subtitle {
  padding: 0;
  margin: 0;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;

  color: #000000;
}
.work__text {
  padding: 0;
  margin: 0;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
}
.work__deadline {
  padding: 110px 0 0;
  margin: 0;

  display: flex;
}
.work__back {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.work__front {
  padding: 0;
  margin: 0;

  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.work__week {
  padding: 0;
  margin: 0;

  min-height: 36px;
  width: 228px;
  background: #3456f3;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #ffffff;
}
.work__weeks {
  padding: 0;
  margin: 0;

  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #000000;
}
.work__subhead {
  padding: 14px 0 0;
  margin: 0;
  align-self: center;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #a0a0a0;
}

@media (max-width: 800px) {
  .work {
    min-height: 585px;
  }
  .work__container {
    min-height: 585px;
    padding: 90px 50px 0;
  }
  .work__stages {
    min-height: 124px;
    gap: 36px;
  }
  .work__text {
    font-size: 12px;
    line-height: 18px;
  }
  .work__deadline {
    padding: 93px 0 0;
  }
  .work__week {
    width: 140px;
  }
}

@media (max-width: 700px) {
  .work {
    min-height: 641px;
  }
  .work__stages {
    flex-direction: column;
    align-items: center;
  }
  .work__components {
    gap: 16px;
  }
}
@media (max-width: 400px) {
  .work__container {
    padding: 70px 18px 70px;
  }
  .work__title {
    font-size: 18px;
    line-height: 22px;
  }
  .work__line {
    margin: 28px 0 60px;
  }
  .work__text {
    font-size: 11px;
    line-height: 16px;
  }
  .work__deadline {
    padding: 60px 0 0;
  }
  .work__week {
    width: 100px;
    min-height: 35px;
    font-size: 11px;
    line-height: 13px;
  }
  .work__weeks {
    font-size: 11px;
    line-height: 13px;
  }
  .work__subhead {
    font-size: 11px;
    line-height: 13px;
  }
}

@media (max-width: 320px) {
  .work__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
  .work__stages {
    gap: 57px;
  }
  .work__deadline {
    padding: 59px 0 0;
  }
  .work__subhead {
    padding: 9px 0 0;
  }
}
