.register { 
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: #fafafa;
}
.register__container {
  margin: 0;
  padding: 0 30px;
  width: 396px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register__logo {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  align-self: flex-start;
  transition: all 0.2s linear;
  cursor: pointer;
}
.register__logo:hover {
  opacity: 0.8;
}

.register__title {
  margin: 0;
  padding: 40px 0 20px;
  align-self: flex-start;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.form {
  width: 100%;
  margin: 0;
  padding: 0;
}
.form__submit {
  margin: 90px 0 16px;
}
.register__redirect {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
  border: none;
  background: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
  cursor: pointer;
  transition: all 0.2s linear;
}

.register__redirect_blue_text {
  margin: 0;
  padding: 0;
  color: #3456f3;
}
.register__redirect:hover {
  opacity: 0.8;
}

@media (max-width: 500px) {
  .register__title {
    align-self: center;
    padding: 50px 0 60px;
  }
  .register__logo {
    align-self: center;
  }
  .form__submit {
    margin: 179px 0 16px;
  }
  .register__redirect {
    font-size: 12px;
    line-height: 14px;
  }
}
