.techs {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 625px;
  background: #F5F5F5;
}
.techs__container {
  padding: 0 50px;
  margin: 0 auto;
  max-width: 1140px;
}
.techs__title {
  padding: 100px 0 23px;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  
  letter-spacing: -0.04em;
  
  color: #000000;  
}
.techs__line {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 1px;
  display: block;
  background: #000000;
}
.techs__subtitle {
  padding: 90px 0 26px;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  
  text-align: center;
  letter-spacing: -0.04em;
  
  color: #000000;  
}
.techs__text {
  padding: 0;
  margin: 0 auto;
  max-width: 460px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  
  text-align: center;
  letter-spacing: -0.04em;
  
  color: #000000;  
}
.techs__box {
  list-style: none;
  padding: 100px 0 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .techs {
    min-height: 567px;
  }
  .techs__title {
    padding: 90px 0 23px;
  }
  .techs__subtitle {
    padding: 80px 0 22px;
  }
  .techs__text {
    font-size: 12px;
    line-height: 18px;
  }
  .techs__box {
    padding: 83px 0 0;
  }
}

@media (max-width: 400px) {
  .techs {
    min-height: 651px;
  }
  .techs__container {
    padding: 0 18px;
  }
  .techs__title {
    padding: 70px 0 28px;
    font-size: 18px;
    line-height: 22px;
  }
  .techs__subtitle {
    font-size: 30px;
    line-height: 36px;
    padding: 60px 0 24px;
  }
  .techs__text {
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
  }
  .techs__box {
    padding: 50px 0 0;
    max-width: 178px;
    justify-content: start;
  }
}
